<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juh.poikeeper">

    <!-- USER PERMISSIONS -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ORM -->

        <meta-data
            android:name="AA_DB_NAME"
            android:value="PoiBaseDb.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.juh.poikeeper.model.PointOfInterest,                            com.example.juh.poikeeper.model.PoiTask,                            com.example.juh.poikeeper.model.PoiTaskItem" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.example.juh.poikeeper"
            android:enabled="true"
            android:exported="false"></provider>

        <!-- ACTIVITIES DECLARATION -->

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoiListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".PoiListActivity" />
        <activity android:name=".PoiDetailActivity"></activity>
    </application>

</manifest>